{% extends 'base.html.twig' %}

{% block title %}Cierre de caja{% endblock %}

{# {% block stylesheets %}
{{parent()}}
{% endblock %} #}


{% block pageHeader %}
<div class="card-block">
    <h5 class="m-b-10">Cierre de caja</h5>
    <p class="text-muted m-b-10">Módulo para realizar el balance diario.</p>
    {# <ul class="breadcrumb-title b-t-default p-t-10">
        <li class="breadcrumb-item">
            <a href="index.html"> <i class="fa fa-home"></i> </a>
        </li>
        <li class="breadcrumb-item"><a href="#!">Comunicarse soporte</a>
        </li>
    </ul> #}
</div>

{% endblock %}


{% block pageBody %}

<div class="card">

    {# <div class="card-header">
        <div class="row">
            <div class="col">
                <h5>Modulo de ventas</h5>
            </div>
            <div class="col-2">
                <a href="{{path('app_proveedor_new')}}"><button type="button"
                        class="btn btn-primary waves-effect waves-light f-left d-inline-block md-trigger"
                        data-modal="modal-13">
                        <i class="icofont icofont-plus m-r-5"></i>Agregar proveedor</button>
                </a>
            </div>
        </div>
    </div> #}

    <div class="card-block">        
        <div class="row">

            <div class="col-6">
                
                <h5>Ingresos</h5>
                <br>

                <div class="card">
                    <table class="table table-hover dt-responsive nowrap no-footer dtr-inline collapsed">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Fecha y hora</th>
                                <th>Productos</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% set TotalIngresos = 0 %}
                            {% if ventas %}
                                {% for venta in ventas %}
                                <tr>
                                    <td>{{venta.id}}</td>
                                    <td>{{venta.fecha|date("d/m/Y H:i:s")}}</td>
                                    <td>-</td>
                                    <td>${{venta.montoTotal}}</td>
                                </tr>
                                {% set TotalIngresos = TotalIngresos + venta.montoTotal %}
                                {% endfor %}
                                <tfoot>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>                                  
                                        <b>${{TotalIngresos}}</b>
                                        </td>
                                    </tr>
                                </tfoot>
                            {% else %}
                                <tfoot>
                                    <tr>
                                        <td colspan="4" style="text-align: center;">Sin datos</td>
                                    </tr>
                                </tfoot>
                            {% endif %}                            
                        </tbody>
                    </table>
                    
                </div>
            </div>
        
            <div class="col-6">
                <h5>Egresos</h5>
                <br>
                <div class="card">
                    <table class="table table-hover dt-responsive nowrap no-footer dtr-inline collapsed">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Fecha y hora</th>
                                <th>Proveedor</th>
                                <th>Total</th>                 
                            </tr>
                        </thead>
                        <tbody>
                            {% set TotalEgresos = 0 %}
                            {% if gastos %}                                
                                {% for gasto in gastos %}
                                <tr>
                                    <td>{{gasto.id}}</td>
                                    <td>{{gasto.fecha|date("d/m/Y H:i:s")}}</td>
                                    <td>{{gasto.proveedor.nombre}}</td>
                                    <td>${{gasto.monto}}</td>
                                </tr>                    
                                {% set TotalEgresos = TotalEgresos + gasto.monto %}
                                {% endfor %}
                                <tfoot>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>
                                            <b>${{TotalEgresos}}</b>
                                        </td>
                                    </tr>
                                </tfoot>
                                {% else %}
                                <tfoot>
                                    <tr>
                                        <td colspan="4" style="text-align: center;">Sin datos</td>
                                    </tr>
                                </tfoot>
                                {% endif %}
                        </tbody>             
                    </table>
                </div>
            </div>

        </div>

        <div class="card">
            <div class="col-12">

                <table class="table table-hover dt-responsive nowrap no-footer dtr-inline collapsed" >
                    <tfoot>
                        <tr>
                            <th colspan="5">
                                Informe del día
                            </th>
                        </tr>
                        <tr>
                            <td>
                                <label class="text-muted">                                   
                                        Ingresos:                                     
                                </label>
                                <label class="text-success">
                                    <h4>${{TotalIngresos}}</h4>
                                </label>
                            </td>
                            <td>
                                <label class="text-muted">
                                        Gastos:
                                </label>
                                <label class="text-danger">
                                    <h5>${{TotalEgresos}}</h5>
                                </label>
                            </td>
                            <td>
                                <label class="text-muted">
                                    Balance:
                                </label>
                                {% set balance = TotalIngresos - TotalEgresos %}
                                {% if balance > 0 %}
                                    <label class="text-success">
                                        <h4>${{balance}}</h4>
                                    </label>
                                {% else %}
                                    {% set balance = balance * -1 %}
                                    <label class="text-danger">
                                        <h4>- ${{balance}}</h4>
                                    </label>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            {% include "venta/_form.html.twig" %}                         
                        </tr>
                    </tfoot>                   
                </table>           
                
            </div>
        </div>
    </div>

</div>


{% endblock %}


{% block javascripts %}
{{ parent() }}
<script>
    setTimeout(function () {
        $('#tablaCierreCaja').DataTable({
            "responsive": true,
            "autoWidth": true,
            "language": {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrando _MENU_ productos",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando productos del _START_ al _END_ de un total de _TOTAL_ productos",
                "sInfo": '',
                "sInfoEmpty": "Mostrando productos del 0 al 0 de un total de 0 productos",
                "sInfoFiltered": "(filtrado de un total de _MAX_ productos)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    // "sFirst": "Primero",
                    // "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            }
        });
    }, 100);
</script>
{% endblock %}