{% extends 'base.html.twig' %}

{% block title %}Ventas{% endblock %}

{# {% block stylesheets %}
{{parent()}}
{% endblock %} #}


{% block pageHeader %}
<div class="card-block">
    <h5 class="m-b-10">Ventas</h5>
    <p class="text-muted m-b-10">Puede registrar sus ventas</p>
    {# <ul class="breadcrumb-title b-t-default p-t-10">
        <li class="breadcrumb-item">
            <a href="index.html"> <i class="fa fa-home"></i> </a>
        </li>
        <li class="breadcrumb-item"><a href="#!">Comunicarse soporte</a>
        </li>
    </ul> #}
</div>

{% endblock %}


{% block pageBody %}

<div class="card">

    {# <div class="card-header">
        <div class="row">
            <div class="col">
                <h5>Modulo de ventas</h5>
            </div>
            <div class="col-2">
                <a href="{{path('app_proveedor_new')}}"><button type="button"
                        class="btn btn-primary waves-effect waves-light f-left d-inline-block md-trigger"
                        data-modal="modal-13">
                        <i class="icofont icofont-plus m-r-5"></i>Agregar proveedor</button>
                </a>
            </div>
        </div>
    </div> #}

    <div class="card-block">     
                <div class="row">
                    <div class="col-4">
                        <input type="text" class="form-control" placeholder="Código de barras" id="inputCodigo">
                    </div>
                    <div class="col-4">                    
                        <select class="form-control" name="select" id="productSelect">
                            <option value="">Seleccione producto</option>
                            {% for producto in productos %}
                            <option value="{{producto.codigo}}" >{{producto.nombre}}</option>                        
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-2">
                        <input type="number" min="1" class="form-control" placeholder="Cantidad" id="cantidad" value="1">
                    </div>            
                    <div class="col-2">
                        <button type="text" class="form-control btn btn-primary" id="botonAgregar">Agregar</button>
                    </div>
                </div>
            
        <br>
        <hr>
        <br>
        <br>
        <br>

        <table id="tablaVentas" class="table table-hover dt-responsive nowrap no-footer dtr-inline collapsed border">
            <thead>
                <tr>
                    <th>Cod.</th>
                    <th>Nombre</th>
                    <th>Cant.</th>
                    <th>Precio unitario</th>                 
                    <th>Subtotal</th>                 
                    <th></th>                 
                </tr>
            </thead>
            <tbody id="productList">         
            </tbody>
            {# <tfoot>                        
                <tr>
                    <th></th>                   
                    <th></th>                   
                    <th></th> 
                    <th></th> 
                    <th id="totalVenta" style="text-align: left;"></th>
                    <th><button type="text" class="form-control btn btn-primary" id="botonFinalizar">Cobrar</button></th>                   
                </tr>
            </tfoot> #}
        </table>
        {# </div> #}
        <br>
        <br>
        <br>
        <hr>

        <div class="row" style="align-items: center;">
            <div class="col-8"></div>
            <div class="col-2" id="totalVenta"><h4>Total: $0</h4></div>
            <div class="col-2"><button type="text" class="form-control btn btn-primary" id="botonFinalizar">Cobrar</button></div>
        </div>

    </div>


</div>


{% endblock %}


{% block javascripts %}
{{ parent() }}
<script>
    setTimeout(function () {

        $('#tablaProveedor').DataTable({
            "responsive": true,
            "autoWidth": true,
            "language": {
                "sProcessing": "Procesando...",
                // "sLengthMenu": "Mostrando _MENU_ productos",
                "sLengthMenu": '',
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando productos del _START_ al _END_ de un total de _TOTAL_ productos",
                "sInfo": '',
                "sInfoEmpty": "Mostrando productos del 0 al 0 de un total de 0 productos",
                "sInfoFiltered": "(filtrado de un total de _MAX_ productos)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    // "sFirst": "Primero",
                    // "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            }
        });
    }, 100);
</script>
<script>

    document.addEventListener('DOMContentLoaded', function () {
        const selectElement = document.getElementById('productSelect');
        const inputCodigo = document.getElementById('inputCodigo');
        const optionsArray = [];
            //Opciones del select
            for (let i = 0; i < selectElement.options.length; i++) {
                optionsArray.push({
                    value: selectElement.options[i].value,
                });
            }
        selectElement.addEventListener('change', function () {
            const selectedValue = selectElement.value;

            if (selectedValue) {              
                inputCodigo.value = selectedValue;
            } else {
                inputCodigo.value = null;
            }
        });

        inputCodigo.addEventListener('input', function () {
            selectElement.value = "";
            optionsArray.forEach((option) => {
                if(inputCodigo.value == option.value && option.value!=""){
                    selectElement.value = inputCodigo.value;
                }
            }); 
        });       

    });

</script>
<script>
    var carrito =[]
    function agregarCarrito(indiceFila, producto, cantidad){
        var producto = {
            indiceFila: indiceFila,
            producto: producto,
            cantidad: cantidad
        };  
        carrito.push(producto);
        console.log("Agregado ", carrito);      
        
    };
    function eliminarCarrito(indiceFila){
        carrito = carrito.filter(item => item.indiceFila !== indiceFila)
        console.log("Removido ", carrito);      
    };

</script>
<script>

    document.addEventListener('DOMContentLoaded', function () {
        

        //Carga de productos existentes.
        var productos; 
        $.ajax({
            url: "{{ path('app_venta_ajax_producto') }}",
            method: 'POST',
            // data: {"id":variable},
            dataType: 'json',
            success: function (response) {
                productos = response;
                // console.log(response);
            },
            error: function (xhr, status, error) {
                console.error('Error:', error);
            }
        });
        const inputCodigo = document.getElementById('inputCodigo');
        const botonAgregar = document.getElementById('botonAgregar');
        const tbody = document.getElementById('productList');
        const cantidad = document.getElementById('cantidad');
        var indiceFila =0;   

        //Agrega una fila HTML con el producto seleccionado.
        //Agrega un producto al carrito
        //Llama a la funcion actualizarTotal()
        botonAgregar.addEventListener('click', function () {
            for (let i = 0; i < productos.length; i++) {
                if(productos[i].codigo == inputCodigo.value){
                    if (cantidad.value >= 1){ //Evita poner numeros negativos en cantidad
                        indiceFila+=1;
                        let subtotal = parseInt(productos[i].precio) * cantidad.value;  
                        let nuevaFila = `
                        <tr class="nuevaFila" id="${indiceFila}">                            
                            <td>${productos[i].codigo}</td>
                            <td>${productos[i].nombre}</td>
                            <td>${cantidad.value}</td>
                            <td>$${productos[i].precio}</td>
                            <td class="subtotal">$${subtotal}</td>
                            <td>
                                <button class="m-r-15 text-muted" data-original-title="Eliminar" style="border: none; background-color: transparent" onclick="eliminarFila(${indiceFila})"">
                                    <i style="border: none; background-color: transparent; outline: none;" class="icofont icofont-delete-alt">
                                    </i>
                                </button>
                            </td>                            
                        </tr>
                        `;
                        tbody.innerHTML += nuevaFila;                        
                        agregarCarrito(indiceFila, productos[i], cantidad.value);
                    }else{
                        alert("Cantidad incorrecta")
                    }
                };
            }            
            actualizarTotal();                
        });         

    });   

    
    const botonFinalizar = document.getElementById("botonFinalizar");
    botonFinalizar.addEventListener("click", function () {
        total = actualizarTotal();
        if (total!=0){      
                $.ajax({
                url: "{{ path('app_registrar_venta_ajax') }}",
                method: 'POST',
                data: {"carrito":carrito, "total":total},
                dataType: 'json',
                success: function (response) {                
                    console.log("Orden de compra: ",response);
                    window.location.reload();
                },
                error: function (xhr, status, error) {
                    console.error('Error:', error);
                }
            });
        }
    });

    
</script>
<script>
     //Funcion que elimina la fila HTML        
        function eliminarFila(indiceFila) {
            // console.log("llegando");
            eliminarCarrito(indiceFila);
            let fila = document.getElementById(indiceFila)
            fila.remove();
            actualizarTotal();
        }

    //Actualiza el campo Total HTML        
        function actualizarTotal() {
            let total = 0;
            const totalVenta = document.getElementById('totalVenta');
            const filas = document.querySelectorAll('tbody tr.nuevaFila');

            filas.forEach(fila => {
                const celdaSubtotal = fila.querySelector('.subtotal');
                const subtotal = parseInt(celdaSubtotal.textContent.slice(1));
                total += subtotal;

            });
            // Mostrar el total
            totalVenta.innerHTML = "<h4>Total: $" + total + "</h4>"
            return total
        }
    
</script>
<script>

    //EnterDetect
    const inputFields = ['inputCodigo', 'cantidad', 'productSelect'];

    inputFields.forEach(fieldId => {
        document.getElementById(fieldId).addEventListener('keypress', function(event) {
            if (event.key === 'Enter') {
                document.getElementById('botonAgregar').click();
            }
        });
    });
        
</script>
{% endblock %}