{% extends 'base.html.twig' %}

{% block title %}Microservicios Index{% endblock %}

{# {% block stylesheets %}
{{parent()}}
{% endblock %} #}


{% block pageHeader %}
<div class="card-block">
    <h5 class="m-b-10">Bienvenido</h5>
    <p class="text-muted m-b-10">Gracias por utilizar Microservicios</p>
    <ul class="breadcrumb-title b-t-default p-t-10">
        <li class="breadcrumb-item">
            <a href="index.html"> <i class="fa fa-home"></i> </a>
        </li>
        <li class="breadcrumb-item"><a href="#!">Comunicarse soporte</a>
        </li>
    </ul>
</div>

{% endblock %}


{% block pageBody %}

<div class="card">
    
    <div class="card-block">
        <div class="row">            
            <div class="col">
                <img class="img-fluid" src="{{ asset('images/MicroServicios/TransparentLogoBlack.png') }}" alt="MicroServicios"/>
            </div>
            <div class="col">
                <img class="img-fluid" src="{{asset('images/MicroServicios/TransparentLogoBlack.png')}}" alt="MicroServicios"/>
            </div>
        </div>
        <br>
        <div class="row">            
            <div class="col">
                <img class="img-fluid" src="{{asset('images/MicroServicios/TransparentLogoBlack.png')}}" alt="MicroServicios"/>
            </div>
            <div class="col">
                <img class="img-fluid" src="{{asset('images/MicroServicios/TransparentLogoBlack.png')}}" alt="MicroServicios"/>
            </div>
        </div>
    </div>
</div>


{% endblock %}


{# {% block javascripts %}
{{ parent() }}
{% endblock %} #}