{{ form_start(form) }}

   
<div class="row">
    <div class="col-md-12">

        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    {{ form_label(form.codigo) }}
                    {{ form_widget(form.codigo) }}
                    {{ form_errors(form.codigo) }}
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    {{ form_label(form.nombre) }}
                    {{ form_widget(form.nombre) }}
                    {{ form_errors(form.nombre) }}
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    {{ form_label(form.descripcion) }}
                    {{ form_widget(form.descripcion) }}
                    {{ form_errors(form.descripcion) }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    {{ form_label(form.precio) }}
                    {{ form_widget(form.precio) }}
                    {{ form_errors(form.precio) }}
                </div>
            </div>

            <div class="col-lg-4">
                <div class="form-group">
                    {{ form_label(form.stock) }}
                    {{ form_widget(form.stock) }}
                    {{ form_errors(form.stock) }}
                </div>
            </div>

            {# <div class="col-lg-4">
                <div class="form-group">
                    {{ form_label(form.imagen) }}
                    {{ form_widget(form.imagen) }}
                    {{ form_errors(form.imagen) }}
                </div>
            </div>           #}
        </div>
    </div>
</div>

<hr>

<div class="row justify-content-center p-t-20">
    <div class="col-sm-6 col-md-4 col-lg-2 mb-3">
        <button type="submit" id="btn-form-carga-usuario" class="btn btn-primary btn-block">
            <i class="ti-save"></i> Guardar</button>
    </div>    
    <div class="col-sm-6 col-md-4 col-lg-2 mb-3">
        <a class="btn btn-danger btn-block" href="{{ path('app_producto_index') }}">
            <i class="ti-na"></i> Cancelar</a>
    </div>
</div>

    {# <button class="btn">{{ button_label|default('Save') }}</button> #}
{{ form_end(form) }}
